<div class="row">
    <div class="col-auto">{{> @button icon-left="cog"}}</div>
    <div class="col-auto">{{> @button icon-left="cog" button-modifiers="button--secondary"}}</div>
    <div class="col-auto">{{> @button icon-left="cog" button-modifiers="button--triarity"}}</div>
    <div class="col-auto">{{> @button icon-right="cog"}}</div>
    <div class="col-auto">{{> @button icon-right="cog" button-modifiers="button--secondary"}}</div>
    <div class="col-auto">{{> @button icon-right="cog" button-modifiers="button--triarity"}}</div>
</div>

