<div class="row">
    <div class="col-md-6 col-lg-4">
        <p>Sisuteksti vaikimisi suurus on 18px, reakõrgus on 25px. Optimaalne rea pikkus jääb 55 ja 75 tähemärgi
            vahele. Rea pikkust tuleks jälgida just pikkade, mitme lõiguliste tekstide (N: uudised, blogi postitused,
            vms ) vormindamisel.</p>

        <p>Siit algab näidistekst. Ut wisi enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit
            lobortis nisl ut aliquip ex ea commodo consequat. Duis autem veleum iriure dolor in hendrerit in vulputate
            velit esse molestie consequat, vel willum lunombro dolore eu feugiat nulla facilisis at vero eros. Ut wisi
            enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.</p>
    </div>
</div>