<div class="row">
    <div class="col">
        <p class="type-h2">Lab Grotesque Regular</p>
        <p>Tallinn, Estonia’s capital on the Baltic Sea, is the country’s cultural hub.</p>
    </div>
    <div class="col">
        <p class="type-h2"><i>Lab Grotesque Italic</i></p>
        <p><i>Tallinn, Estonia’s capital on the Baltic Sea, is the country’s cultural hub.</i></p>
    </div>
    <div class="col">
        <p class="type-h2">
            <b>Lab Grotesque Bold</b>
        </p>
        <p>
            <b>Tallinn, Estonia’s capital on the Baltic Sea, is the country’s cultural hub.</b>
        </p>
    </div>
</div>
