<dv class="row" style="padding: 100px 0;">
    <div class="col">
        <span data-tooltip="bottom" title="{{tooltipText}}">
            {{> @button content="All"}}
        </span>
    </div>
    <div class="col"><span data-tooltip="left" title="{{tooltipText}}">
        {{> @button content="Vasakul"}}

    </span></div>
    <div class="col">
        <span data-tooltip="right" title="{{tooltipText}}">
            {{> @button content="Paremal"}}
        </span>
    </div>
    <div class="col">
        <span data-tooltip="top" title="{{tooltipText}}">
            {{> @button content="Üleval"}}
        </span>
    </div>
</dv>