<dv class="row" style="padding: 200px 0px;">

    <div class="col">
        <span data-tooltip="bottom" title="{{tooltipText}}">
            {{> @button content="All"}}
            <div class="tooltip__content">
                <p><strong>Vihjemulli pealkiri</strong></p>
                <p>If you wish to make an apple pie from scratch, you must first invent the universe.</p>
            </div>
        </span>
    </div>
    <div class="col">
        <span data-tooltip="right" title="{{tooltipText}}">
            {{> @button content="Paremal"}}
            <div class="tooltip__content">
                <p><strong>Vihjemulli pealkiri</strong></p>
                <p>If you wish to make an apple pie from scratch, you must first invent the universe.</p>
            </div>
        </span>
    </div>
    <div class="col"><span data-tooltip="left" title="{{tooltipText}}">
        {{> @button content="Vasakul"}}
        <div class="tooltip__content">
            <p><strong>Vihjemulli pealkiri</strong></p>
            <p>If you wish to make an apple pie from scratch, you must first invent the universe.</p>
        </div>

    </span></div>

    <div class="col">
        <span data-tooltip="top" title="{{tooltipText}}">
            {{> @button content="Üleval"}}
            <div class="tooltip__content">
                <p><strong>Vihjemulli pealkiri</strong></p>
                <p>If you wish to make an apple pie from scratch, you must first invent the universe.</p>
            </div>
        </span>
    </div>
</dv>