<div class="quote">
    <div class="quote__icon">
        <img src="{{path "/assets/svg/quote.svg"}}" alt="Quote image">
    </div>
    <div class="quote__content">
        {{content}}
        <p class="quote__autor">{{autor}}</p>
    </div>
    <div class="quote__icon quote__icon--end">
        <img src="{{path "/assets/svg/quote.svg"}}" alt="Quote image">
    </div>
</div>