
{{#*inline "item"}}
    <div class="accordion {{#if open}}is-open{{/if}}">
        <button class="accordion__header">
            {{title}}
            {{> @icon icon-modifiers="accordion__icon" icon="chevron-down"}}
        </button>
        <div class="accordion__content">
            Today's scientists have substituted mathematics for experiments, and they wander off through equation after equation, and eventually build a structure which has no relation to reality.
        </div>
    </div>
{{/inline}}

{{#*inline "sub-item"}}
    <div class="accordion {{#if open}}is-open{{/if}}">
        <button class="accordion__header">
            {{title}}
            {{> @icon icon-modifiers="accordion__icon" icon="chevron-down"}}
        </button>
        <div class="accordion__content">
            {{> item title="Suletud akordion" open=false}}
            {{> item title="Avatud akordion" open=true}}
            {{> item title="Suletud akordion" open=false}}
            {{> item title="Suletud akordion" open=false}}
        </div>
    </div>
{{/inline}}


{{> item title="Suletud akordion"}}
{{#if nested}}
    {{> sub-item title="Suletud akordion" open=true}}
{{else}}
    {{> item title="Avatud akordion" open=true}}
{{/if}}
{{> item title="Suletud akordion"}}
{{> item title="Suletud akordion"}}
