<div class="container">
    <div class="row uig-grid">
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
        <div class="col-1">
            <div class="uig-col"></div>
        </div>
    </div>
</div>