$table-border-radius: 4px;
$table-border: 1px solid $black-2;

.table {
    //margin: 20px;
    width: 100%;
    border-collapse: collapse;

    th {
        background-color: $blue-2;
        font-size: $type-h4;
        line-height: normal;
        padding: 18px 20px;
        text-align: left;

        &:first-child {
            border-top-left-radius: $table-border-radius;
        }

        &:last-child {
            border-top-right-radius: $table-border-radius;
        }
    }

    td {
        line-height: 1.12;
        padding: 20px;
        text-align: left;
    }

    tr {
        &:nth-child(even) {
            td {
                background-color: $gray;
            }
        }

        &:last-child td {
            &:first-child {
                border-bottom-left-radius: $table-border-radius;
            }

            &:last-child {
                border-bottom-right-radius: $table-border-radius;
            }
        }
    }

    &--bordered {
        border-collapse: unset;
        border-spacing: 0;
        border: $table-border;
        border-radius: $table-border-radius;

        td,
        th {
            border: $table-border;
            border-width: 0 0 1px 1px;

            &:first-child {
                border-left: none;
            }
        }

        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}
