<div class="logo {{logo-modifiers}}">
    <svg width="176px" height="44px" viewBox="0 0 176 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: sketchtool 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
            <g id="Logo" transform="translate(-100.000000, -376.000000)"  fill-rule="nonzero">
                <g id="Group-4" transform="translate(100.000000, 276.000000)">
                    <g id="Tallinn_logo_RGB_valge" transform="translate(0.000000, 100.000000)">
                        <g id="Tekstid._Valge" transform="translate(45.000000, 6.000000)">
                            <polygon id="Shape" points="25.4601 5.48909 16.07321 5.48909 16.07321 31.98809 9.78527 31.98809 9.78527 5.48909 0.39837 5.48909 0.39837 0.09961 25.4601 0.09961"></polygon>
                            <path d="M43.7696,16.4928 L43.7696,31.98805 L38.51455,31.98805 L38.51455,29.60772 C37.07732,31.58372 34.5623,32.75156 31.10391,32.75156 C26.38791,32.75156 22.88491,30.55082 22.88491,26.19423 C22.88491,21.34351 26.70247,19.18767 32.81057,18.10988 L38.20031,17.12162 L38.20031,16.58285 C38.20031,14.38211 36.58349,13.07957 33.88862,13.07957 C32.634941,13.024963 31.3908109,13.3204286 30.29555,13.93288 C29.0164517,14.7655464 27.8273396,15.7288728 26.74737,16.80734 L23.0645,13.43875 C25.6208932,10.11201 29.6040458,8.19545039 33.79883,8.27375 C40.22143,8.27376 43.7696,11.50765 43.7696,16.4928 Z M38.20027,22.64605 L38.20027,21.29862 L34.33781,22.10703 C30.4302,22.96034 28.58889,23.8139 28.58889,25.7899 C28.58889,27.22713 29.89117,28.0807 32.09189,28.0807 C35.4605,28.0807 38.20027,26.37382 38.20027,22.64606 L38.20027,22.64605 Z" id="Shape"></path>
                            <polygon id="Shape" points="55.02349 31.98805 49.18449 31.98805 49.18449 0.09961 55.02349 0.09961"></polygon>
                            <polygon id="Shape" points="66.54287 31.98805 60.70416 31.98805 60.70416 0.09961 66.54287 0.09961"></polygon>
                            <path d="M78.06225,5.57889 L72.22354,5.57889 L72.22354,0.09961 L78.06225,0.09961 L78.06225,5.57889 Z M78.06225,31.98805 L72.22354,31.98805 L72.22354,9.03727 L78.06225,9.03727 L78.06225,31.98805 Z" id="Shape"></path>
                            <path d="M104.31311,16.26832 L104.31311,31.98805 L98.4744,31.98805 L98.4744,18.02005 C98.4744,14.96574 96.9474,13.30405 94.20761,13.30405 C92.9331303,13.2778482 91.7062745,13.7882956 90.8265125,14.7107944 C89.9467504,15.6332931 89.4950285,16.8829647 89.58161,18.15477 L89.58161,31.98805 L83.7429,31.98805 L83.7429,9.03727 L89.17728,9.03727 L89.17728,11.64235 C90.7549883,9.410403 93.3640706,8.13973352 96.09405,8.27376 C101.304,8.27376 104.31311,11.4625 104.31311,16.26832 Z" id="Shape"></path>
                            <path d="M130.29847,16.26832 L130.29847,31.98805 L124.45976,31.98805 L124.45976,18.02005 C124.45976,14.96574 122.93276,13.30405 120.19297,13.30405 C118.918456,13.2778013 117.69155,13.7882257 116.811741,14.7107279 C115.931932,15.6332301 115.480173,16.8829287 115.56674,18.15477 L115.56674,31.98805 L109.728,31.98805 L109.728,9.03727 L115.16264,9.03727 L115.16264,11.64235 C116.740239,9.41041388 119.349243,8.13973481 122.07915,8.27376 C127.28932,8.27376 130.29847,11.4625 130.29847,16.26832 Z" id="Shape"></path>
                        </g>
                        <g id="Logod._Valge">
                            <g id="Tallinna_logo._Valge">
                                <g id="Tallinna_logo">
                                    <path d="M22.64722,17.4671 C19.06565,16.49056 17.27487,15.26989 13.16422,14.5375 C8.97215,13.7644 5.06499,14.00855 0.09963,14.5375 L0.09963,19.5015 C5.75688,18.64704 13.89681,17.46706 20.12386,18.60634 C25.21131,19.5422 25.659,21.41388 30.29877,22.4311 L30.29877,18.56571 C27.7173338,18.462801 25.1533267,18.0946607 22.64722,17.4671 Z" id="Shape"></path>
                                    <path d="M30.29875,24.8725 C26.75787,22.43114 23.46121,22.30908 20.08313,22.34979 C13.28629,22.47185 8.15813,23.32631 0.09961,24.66906 L0.09961,28.63969 C0.0962748541,29.0629954 0.116081067,29.4861667 0.15894,29.90731 C6.03481,28.85514 11.05506,28.12651 13.20494,27.80211 C19.35059,26.82557 25.69973,25.84903 30.2988,26.62211 L30.29875,24.8725 Z" id="Shape"></path>
                                    <path d="M1.53787,34.14756 C1.82704766,34.6536895 2.15238657,35.1382823 2.51135,35.59756 C5.86673,39.84421 14.8842,43.19962 15.19916,43.30463 C15.51376,43.19977 24.53153,39.84431 27.88699,35.59756 C28.5727776,34.7255661 29.1303166,33.7599651 29.54267,32.73009 C29.8268255,31.9914872 30.0366168,31.2263882 30.16893,30.44615 C30.20288,30.23015 30.22793,30.02695 30.24645,29.83815 C29.36525,29.95449 2.28025,34.03783 1.53787,34.14756 Z" id="Shape"></path>
                                    <path d="M12.79791,9.08519 C8.97214,8.6783 6.16391,7.74244 0.09962,6.84728 L0.09962,10.1838 C3.75470747,10.0365464 7.40977078,10.4761223 10.92572,11.4858 C12.10601,11.81133 14.4259,12.50305 15.32129,12.74717 C20.04245,14.04917 26.43229,14.04917 30.29876,14.49679 L30.29876,10.59068 C24.8043,9.61414 16.94927,9.53275 12.79791,9.08519 Z" id="Shape"></path>
                                    <path d="M15.19947,0.78463 L15.19919,0.78463 C10.1125275,0.732026244 5.03946905,1.31985928 0.09962,2.53427 L0.09962,4.08044 L30.29876,6.68454 L30.29876,2.53427 C25.3590017,1.31988357 20.2860388,0.732050715 15.19947,0.78463 Z" id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>