<{{type}} class="list">
    <li>Ut wisi enim ad minim veniam.</li>
    <li>Ut wisi enim ad minim veniam.</li>
    <li>Ut wisi enim ad minim veniam.</li>
    <li>Ut wisi enim ad minim veniam.</li>
</{{type}}>
